DOMAIN_NAME=dlimachii.com
ACME_EMAIL=tu-correo@ejemplo.com

DB_DATABASE=plantaria
DB_USERNAME=plantaria
DB_PASSWORD=

# For demos you can keep these enabled so the server self-initializes on first boot.
MIGRATE_ON_BOOT=1
SEED_ON_BOOT=1
